In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from numpy import genfromtxt
import pandas as pd
import math as math
import glob
import os
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.offline as po
from plotly.graph_objs import *
import datetime
import time

## Algosnabs User 2 Base Phone - Load JSON Data

In [12]:
dataSetPath = '/Users/yalcin.yenigun/Documents/TEZ/drive-download-20171015T072715Z-001'

accelerometerFiles = glob.glob(dataSetPath + "/JSON-User2-Base/phone/c-accelerometer-*.json")
accelerometerDf = pd.DataFrame()
list_ = []
for file_ in accelerometerFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
accelerometerDf = pd.concat(list_)

accelerometerDf.head(3)

,pane_end,pane_start,timestamp,window_end,window_start,x,y,z
0,1477984448000000000,1477984447000000000,"[1477984447617643524, 1477984447617775191, 147...",1477984460000000000,1477984440000000000,"[0.22026655, -0.05746084, 2.135628, 0.50757074...","[-10.295067, -9.988609, -12.047623, -10.783484...","[2.030283, 2.0398598, 3.3518825, 3.1028855, 2...."
1,1477984449000000000,1477984448000000000,"[1477984448000406857, 1477984448018624045, 147...",1477984460000000000,1477984440000000000,"[1.2258313, 3.667917, 4.2042184, 3.3806129, 2....","[-14.135366, -13.101071, -10.936713, -10.7356,...","[4.7405194999999996, 2.5761611, -1.7429788, -2..."
2,1477984450000000000,1477984449000000000,"[1477984449004309930, 1477984449012952794, 147...",1477984460000000000,1477984440000000000,"[-1.2545617, -1.1779473, -1.091756, -0.7852981...","[-11.281479, -11.300632, -11.051635, -10.77390...","[0.1436521, 0.22984336, 0.32561144000000003, 0..."

## Algosnabs User 2 Base Watch - Load JSON Data

In [16]:
accelerometerWatchFiles = glob.glob(dataSetPath + "/JSON-User2-Base/watch/c-accelerometer-*.json")
accelerometerWatchDf = pd.DataFrame()
list_ = []
for file_ in accelerometerWatchFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
accelerometerWatchDf = pd.concat(list_)

accelerometerWatchDf.head(3)

,pane_end,pane_start,timestamp,window_end,window_start,x,y,z
0,1476745383000000000,1476745382000000000,"[1476745382976558750, 1476745382980398750, 147...",1476745400000000000,1476745380000000000,"[-0.043085523, -0.08138376500000001, -0.071809...","[0.10053288, 0.10053288, 0.10053288, 0.0909583...","[9.569773, 9.569773, 9.550624, 9.550624, 9.531..."
1,1476745384000000000,1476745383000000000,"[1476745383003438750, 1476745383007278750, 147...",1476745400000000000,1476745380000000000,"[-0.0718092, -0.043085523, -0.03351096, -0.014...","[0.05266008, 0.05266008, 0.043085523, 0.062234...","[9.531475, 9.512326, 9.560199, 9.531475, 9.560..."
2,1476745385000000000,1476745384000000000,"[1476745384003765742, 1476745384007718382, 147...",1476745400000000000,1476745380000000000,"[-0.16755481, -0.16755481, -0.2154276, -0.2154...","[0.18670394, 0.12925656, 0.11010744400000001, ...","[9.502751, 9.493176, 9.5219, 9.464453, 9.47402..."

## Current Place Labels

In [20]:
currentPlaceFiles = glob.glob(dataSetPath + "/JSON-User2-Survey/s-Current*.json")
currentPlaceDf = pd.DataFrame()
list_ = []
for file_ in currentPlaceFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
currentPlaceDf = pd.concat(list_)

currentPlaceDf.head(3)

,layoutGroupId,surveyId,timestamp,value,viewId,wasInteracted
0,Current Place,Current Place,2016-10-17 19:37:03.085,Home,cp2,True
1,Current Place,Current Place,2016-10-17 19:37:03.085,Walked,cp5,False
2,Current Place,Current Place,2016-10-17 19:37:03.137,Home,cp2,True

## Sedentary Activity Labels

In [23]:
sedentaryActivityFiles = glob.glob(dataSetPath + "/JSON-User2-Survey/s-Sedentary*.json")
sedentaryActivityDf = pd.DataFrame()
list_ = []
for file_ in sedentaryActivityFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
sedentaryActivityDf = pd.concat(list_)

sedentaryActivityDf.head(3)

,layoutGroupId,surveyId,timestamp,value,viewId,wasInteracted
0,Sedentary Activity,Sedentary Activity,2016-10-17 20:24:15.298,Yes,sa2,True
1,Sedentary Activity,Sedentary Activity,2016-10-17 20:24:15.298,Eating / Drinking,sa5,False
2,Sedentary Activity,Sedentary Activity,2016-10-17 20:24:15.345,Yes,sa2,True

## Label Meta - Playing Video Game

In [25]:
labelMetaPlayingVideoGamesFiles = glob.glob(dataSetPath + "/JSON-User2-LabelMeta/s-Playing Video Game*.json")
labelMetaPlayingVideoGamesDf = pd.DataFrame()
list_ = []
for file_ in labelMetaPlayingVideoGamesFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
labelMetaPlayingVideoGamesDf = pd.concat(list_)

labelMetaPlayingVideoGamesDf.head(3)

,layoutGroupId,surveyId,timestamp,value,viewId,wasInteracted
0,Playing Video Game,Playing Video Game,2016-10-26 04:32:52.415,Back RIGHT pants pocket,vg4,True
1,Playing Video Game,Playing Video Game,2016-10-26 04:32:52.415,On left wrist,vg7,False
2,Playing Video Game,Playing Video Game,2016-10-26 04:32:52.441,Back RIGHT pants pocket,vg4,True

## Label Meta - Walking

In [26]:
labelMetaWalkingFiles = glob.glob(dataSetPath + "/JSON-User2-LabelMeta/s-Walking*.json")
labelMetaWalkingDf = pd.DataFrame()
list_ = []
for file_ in labelMetaWalkingFiles:
    df = pd.read_json(file_, lines=True)
    list_.append(df)
labelMetaWalkingDf = pd.concat(list_)

labelMetaWalkingDf.head(3)

,layoutGroupId,surveyId,timestamp,value,viewId,wasInteracted
0,Walking,Walking,2016-10-17 19:26:34.538,Back RIGHT pants pocket,walk4,True
1,Walking,Walking,2016-10-17 19:26:34.538,On left wrist,walk7,False
2,Walking,Walking,2016-10-17 19:26:34.563,Back RIGHT pants pocket,walk4,True